@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap')

.whale-ui-button
    min-width: 70px
    min-width: 35px
    padding-left: 20px
    padding-right: 20px
    padding-top: 8px
    padding-bottom: 8px
    width: auto
    height: auto
    font-family: 'Work Sans', sans-serif
    font-weight: 500
    border-radius: 7px
    border: 1px solid rgba(0,0,0,0.1)
    outline: none
    box-shadow: 3px 3px 5px rgba(0,0,0, 0.2) 
    cursor: pointer
    transition: border .5s ease
    will-change: box-shadow
    background: #5cbdb9
    position: relative
    overflow: hidden

    &:hover
        border: 1px solid rgba(0,0,0,0.4)

    & span 
        position: absolute
        background: #fff
        transform: translate(-50%, -50%)
        pointer-events: none
        border-radius: 50%
        animation: ripple .6s linear
            
.disabled 
    opacity: 0.7

.circular
    border-radius: 50%
    padding: 0px
    width: 50px
    height: 50px

.small
    font-size: .7rem

.normal
    font-size: 1rem

.big
    font-size: 1.3rem

.compact
    padding-left: 15px
    padding-right: 15px
    padding-top: 5px
    padding-bottom: 5px

@keyframes ripple
    0%
        width: 0px
        height: 0px
        opacity: .3
        
    100%
        width: 500px
        height: 500px
        opacity: 0
        